.resume-headers-container {
  padding-left: 10em;
  padding-right: 10em;
  .resume-headers {
    margin-top: 10vh;
    width: 100%;
    padding: 3.75em 3em 3.3em;

    .headers-wrapper {
      display: block;
      align-items: center;
      h1 {
        font-size: 3rem;
        line-height: 20px;
      }

      .link-container {
        button {
          text-decoration: none;
          margin-right: 0.5em;
          padding: 0;
          transition: all 0.2s ease-in-out;
          font-size: 2.2rem;
          font-family: "Cinzel";
          font-weight: lighter;
          color: darkgray;
          outline: none;
          background-color: transparent;
          border: 0px;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        .active {
          color: black;
        }
      }
    }
  }
}

.resume-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
      text-align: center;
  }
  h1 {
    font-weight: lighter;
    font-size: 3rem;
    line-height: 18px;
  }

  .about {

  }
}
hr {
  border-top: 1px solid black;
  width: 100%;
}
