.stats-container {
    width: 80vw;
    margin-top: 10vh;
    align-items: center;
    display: block;
    .stats-wrapper {
        width: 80vw;
        margin-top: 10vh;
        flex-direction: row;
        align-items: center;
        display: table-cell;
        h1 {
        font-size: 3rem;
        line-height: 20px;
        }

        .stats-card {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .content {
                p {
                    font-size: 18px;
                    color: darkgray;
                }
            }
        
        }
    }
}